.add-new-board {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #6E6B71;
}

.add-new-board input[type="text"] {
  padding: 10px;
  margin: 5px;
  height: 20px;
  min-width: 400px;
  background-color: #96939B;
  color: #E8E8E8;
  border: 1px solid #6E6B71;
  border-radius: 5px;
}

.add-new-board input[type="button"] {
  height: 40px;
  width: 100px;
}

.add-new-board .add-button {
  background-color: #FC814A;
}
